<div class="tab-pane <% if (constructedPassword == null && chosen == 'shortener') { %> active <% } %>" id="url-shortener" role="tabpanel">
    <section>
        <h4>Enter URL to be shortened</h4>
        <form method="POST" action="/api/url/shorten">
            <div class="input-group" id="input-text">
                <input class="form-control" type="text" id="longURL" name="longURL" placeholder="Enter URL to be shortened!">
                <button class="btn btn-primary" id="button-id" type="submit">Shorten 🚀</button>
            </div>
        </form>
        
        <% if (errorObject.existsAt.shortener) { %> 
            <input class="alert alert-danger" role="alert" id="errorOutput" name="errorOutput" type="text" readonly value="<%= errorObject.message %>" style="width: 100%;">
        <% } %>

        <h4>Shortened URL<br></h4>
        <div class="input-group" id="input-text">
            <input class="form-control" type="text" id="shortURL" name="shortURL" readonly placeholder="Shorten URL will appear here!" value="<% if (shortURL != null) { %> <%= shortURL %> <% } %>">
            <button class="btn btn-primary" id="copy-button-url-shortener" onclick="copyToClipboard('shortURL')" type="button">Copy&nbsp;<i class="fa fa-copy"></i></button>
        </div>
    </section>
    <hr>
    <section>
        <h4>Check Expiration</h4>
        <form method="POST" action="/api/url/expire">
            <div class="input-group" id="input-text">
                <input class="form-control" type="text" id="expireInput" name="expireInput" placeholder="Input either the whole link or just the code!">
                <button class="btn btn-primary" id="button-id" type="submit">Check <i class="fa fa-search"></i></button>
            </div>
        </form>
        <% if (errorObject.existsAt.expiration && errorObject.message == 'Valid!') { %> 
            <input class="alert alert-success" role="alert" id="errorOutput" name="errorOutput" type="text" readonly value="<%= errorObject.message %>" style="width: 100%;">
        <% } else if (errorObject.existsAt.expiration && errorObject.message == 'Expired!') { %>
            <input class="alert alert-danger" role="alert" id="errorOutput" name="errorOutput" type="text" readonly value="<%= errorObject.message %>" style="width: 100%;">
        <% } else { %>
            <div class="input-group" id="input-text"><input class="form-control" type="text" placeholder="Validity of the link will appear here!"></div>
        <% } %>
    </section>
</div>